* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 900px;
  margin: 0 auto;
}
body {
  background-color: #ccc;
}
.apply_box {
  max-width: 600px;
  padding: 20px;
  background-color: white;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.3);
}
.web {
  font-size: 20px;
  color: blue;
}
.form_container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}
.form_control {
  display: flex;
  flex-direction: column;
}
label {
  font-size: 15px;
  margin-bottom: 5px;
}
input,
select,
textarea {
  padding: 6px 10px;
  border: solid 1px #ccc;
  border-radius: 4px;
  font-size: 15px;
}
.button_container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 900px;
  margin: 0 auto;
}
body {
  background-color: #ccc;
}
.apply_box {
  max-width: 600px;
  padding: 20px;
  background-color: white;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.3);
}
.web {
  font-size: 20px;
}
.form_container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}
.form_control {
  display: flex;
  flex-direction: column;
}
label {
  font-size: 15px;
  margin-bottom: 5px;
}
input,
select,
textarea {
  padding: 6px 10px;
  border: solid 1px #ccc;
  border-radius: 4px;
  font-size: 15px;
}
input:focus {
  outline-color: rgb(89, 0, 255);
}
textarea:focus {
  outline-color: rgb(89, 0, 255);
}
button {
  display: flex;
  align-items: flex-end;
}
button {
  background-color: red;
  border: transparent solid;
  padding: 5px 10px;
  border-radius: 20px;
  transition: 0.3s ease-in;
}
button:hover {
  background-color: #ccc;
  border: 2px solid red;
  color: black;
  transition: 0.3s ease-out;
  cursor: pointer;
}
.address_control {
  grid-column: 1 / span 2;
}
.address_control textarea {
  width: 100%;
}
@media (max-width: 460px) {
  .address_control {
    grid-column: 1 / span 1;
  }
}
